In [1]:
import pandas as pd
import os
import cv2
import numpy as np

In [ ]:
shape_label = {'삼각형': 0, '사각형': 1, '오각형': 2, '육각형': 3, '팔각형': 4, 
               '원형': 5, '반원형': 6, '타원형': 7, '장방형': 8, '마름모형': 9, '기타': 10}

color_label = {'빨강': 0, '주황': 1, '노랑': 2, '연두': 3, '초록': 4, 
               '청록': 5, '파랑': 6, '남색': 7, '보라': 8, '분홍': 9,
               '자주': 10, '갈색': 11, '회색': 12, '검정': 13, '하양': 14, '투명': 15}

In [3]:
DATA_PATH = '../data/mask_front'
LABEL_PATH = '../label'
SAVE_PATH = '../save_model'

In [15]:
csv = pd.read_csv(os.path.join(LABEL_PATH, 'shape_color_prediction.csv'))
df = pd.DataFrame(csv)

In [16]:
df.head()

,Unnamed: 0,index,No,color_front,color_top1,color_top3,shape,shape_top1,shape_top3
0,0,0,197400571.jpg,2,2,"[2.0, 1.0, 3.0]",5,5,"[5.0, 10.0, 7.0]"
1,1,1,198803039.jpg,11,11,"[11.0, 0.0, 1.0]",8,8,"[8.0, 7.0, 10.0]"
2,2,2,200703756.jpg,9,9,"[9.0, 11.0, 1.0]",5,5,"[5.0, 10.0, 8.0]"
3,3,3,199703153.jpg,14,14,"[14.0, 12.0, 2.0]",8,8,"[8.0, 10.0, 4.0]"
4,4,4,200004062.jpg,14,14,"[14.0, 12.0, 2.0]",5,5,"[5.0, 10.0, 8.0]"

In [5]:
shape_unique = len(df['shape'].unique().tolist())
color_unique = len(df['color_front'].unique().tolist())

In [6]:
shape_list = df['shape'].tolist()
shape_count_list = []

for i in range(shape_unique):
    shape_count_list.append(shape_list.count(i))
print(shape_count_list)

[215, 191, 64, 52, 196, 8218, 2, 4687, 6880, 26, 428]

In [8]:
shape_list = df['shape_top1'].tolist()
shape_count_list = []

for i in range(shape_unique):
    shape_count_list.append(0)
    shape_count_list[i] = shape_list.count(i)
print(shape_count_list)

[220, 192, 61, 57, 209, 8247, 0, 4767, 6810, 0, 396]

In [7]:
color_list = df['color_front'].tolist()
color_count_list = []

for i in range(color_unique):
    color_count_list.append(color_list.count(i))
print(color_count_list)

[667, 1705, 2915, 913, 1016, 113, 1230, 34, 133, 2215, 74, 1531, 146, 96, 8151, 20]

In [9]:
color_list = df['color_top1'].tolist()
color_count_list = []

for i in range(color_unique):
    color_count_list.append(0)
    color_count_list[i] = color_list.count(i)
print(color_count_list)

[538, 1769, 2626, 1071, 993, 23, 1297, 0, 149, 2404, 20, 1665, 121, 64, 8219, 0]

In [10]:
label_list = [[0 for _ in range(color_unique)] for _ in range(shape_unique)]

for i in range(len(df)):
    for j in range(shape_unique):
        for k in range(color_unique):
            if df['shape'][i] == j and df['color_front'][i] == k:
                label_list[j][k] += 1

In [11]:
######################
label_list

[[1, 6, 56, 14, 1, 0, 6, 0, 0, 56, 0, 10, 4, 0, 61, 0],
 [4, 33, 54, 2, 1, 1, 14, 0, 1, 52, 0, 5, 1, 0, 23, 0],
 [0, 3, 0, 12, 1, 0, 4, 0, 0, 25, 0, 1, 0, 0, 18, 0],
 [0, 3, 12, 2, 0, 0, 23, 0, 3, 0, 0, 0, 0, 0, 9, 0],
 [0, 4, 3, 1, 0, 0, 0, 0, 0, 47, 0, 1, 0, 0, 140, 0],
 [53, 601, 1094, 249, 118, 16, 200, 2, 12, 1200, 10, 156, 26, 7, 4474, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
 [186, 495, 682, 193, 209, 35, 253, 1, 26, 522, 21, 437, 31, 57, 1537, 2],
 [422, 549, 959, 433, 597, 44, 632, 31, 90, 280, 43, 919, 84, 32, 1747, 18],
 [0, 0, 1, 0, 0, 0, 7, 0, 0, 2, 0, 0, 0, 0, 16, 0],
 [1, 11, 54, 7, 88, 17, 91, 0, 1, 31, 0, 2, 0, 0, 125, 0]]

In [12]:
data = {
    '삼각형' : [1, 6, 56, 14, 1, 0, 6, 0, 0, 56, 0, 10, 4, 0, 61, 0],
    '사각형' : [4, 33, 54, 2, 1, 1, 14, 0, 1, 52, 0, 5, 1, 0, 23, 0],
    '오각형' : [0, 3, 0, 12, 1, 0, 4, 0, 0, 25, 0, 1, 0, 0, 18, 0],
    '육각형' : [0, 3, 12, 2, 0, 0, 23, 0, 3, 0, 0, 0, 0, 0, 9, 0],
    '팔각형' : [0, 4, 3, 1, 0, 0, 0, 0, 0, 47, 0, 1, 0, 0, 140, 0],
    '원형' : [53, 601, 1094, 249, 118, 16, 200, 2, 12, 1200, 10, 156, 26, 7, 4474, 0],
    '반원형' : [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
    '타원형' : [186, 495, 682, 193, 209, 35, 253, 1, 26, 522, 21, 437, 31, 57, 1537, 2],
    '장방형' : [422, 549, 959, 433, 597, 44, 632, 31, 90, 280, 43, 919, 84, 32, 1747, 18],
    '마름모형' : [0, 0, 1, 0, 0, 0, 7, 0, 0, 2, 0, 0, 0, 0, 16, 0],
    '기타' : [1, 11, 54, 7, 88, 17, 91, 0, 1, 31, 0, 2, 0, 0, 125, 0]
}
df2 = pd.DataFrame(data, index = ['빨강', '주황', '노랑', '연두', '초록', '청록',
                                 '파랑', '남색', '보라', '분홍', '자주', '갈색',
                                 '회색', '검정', '하양', '투명'])

In [13]:
df2

    삼각형  사각형  오각형  육각형  팔각형    원형  반원형   타원형   장방형  마름모형   기타
빨강    1    4    0    0    0    53    0   186   422     0    1
주황    6   33    3    3    4   601    0   495   549     0   11
노랑   56   54    0   12    3  1094    0   682   959     1   54
연두   14    2   12    2    1   249    0   193   433     0    7
초록    1    1    1    0    0   118    1   209   597     0   88
청록    0    1    0    0    0    16    0    35    44     0   17
파랑    6   14    4   23    0   200    0   253   632     7   91
남색    0    0    0    0    0     2    0     1    31     0    0
보라    0    1    0    3    0    12    0    26    90     0    1
분홍   56   52   25    0   47  1200    0   522   280     2   31
자주    0    0    0    0    0    10    0    21    43     0    0
갈색   10    5    1    0    1   156    0   437   919     0    2
회색    4    1    0    0    0    26    0    31    84     0    0
검정    0    0    0    0    0     7    0    57    32     0    0
하양   61   23   18    9  140  4474    1  1537  1747    16  125
투명    0    0    0    0    0     0    0     2    18     0    0

In [19]:
pre_list = [[0 for _ in range(color_unique)] for _ in range(shape_unique)]
for i in range(len(df)):
    for j in range(shape_unique):
        for k in range(color_unique):
            if df['shape_top1'][i] == j and df['color_top1'][i] == k:
                pre_list[j][k] += 1

In [20]:
pre_list

[[0, 5, 54, 17, 0, 0, 4, 0, 0, 57, 0, 14, 0, 0, 69, 0],
 [2, 29, 43, 1, 0, 0, 14, 0, 0, 70, 0, 6, 0, 0, 27, 0],
 [0, 1, 2, 14, 0, 0, 4, 0, 0, 22, 0, 0, 0, 0, 18, 0],
 [0, 1, 5, 3, 0, 0, 29, 0, 3, 4, 0, 0, 0, 0, 12, 0],
 [0, 4, 5, 2, 0, 0, 0, 0, 1, 50, 0, 0, 0, 0, 147, 0],
 [30, 627, 1027, 287, 89, 6, 213, 0, 10, 1284, 2, 139, 0, 6, 4527, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [168, 563, 532, 260, 224, 9, 253, 0, 21, 563, 6, 529, 32, 43, 1564, 0],
 [337, 533, 908, 485, 577, 6, 680, 0, 114, 324, 12, 976, 88, 15, 1755, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 6, 50, 2, 103, 2, 100, 0, 0, 30, 0, 1, 1, 0, 100, 0]]

In [21]:
data = {
    '삼각형' : [0, 5, 54, 17, 0, 0, 4, 0, 0, 57, 0, 14, 0, 0, 69, 0],
    '사각형' : [2, 29, 43, 1, 0, 0, 14, 0, 0, 70, 0, 6, 0, 0, 27, 0],
    '오각형' : [0, 1, 2, 14, 0, 0, 4, 0, 0, 22, 0, 0, 0, 0, 18, 0],
    '육각형' : [0, 1, 5, 3, 0, 0, 29, 0, 3, 4, 0, 0, 0, 0, 12, 0],
    '팔각형' : [0, 4, 5, 2, 0, 0, 0, 0, 1, 50, 0, 0, 0, 0, 147, 0],
    '원형' : [30, 627, 1027, 287, 89, 6, 213, 0, 10, 1284, 2, 139, 0, 6, 4527, 0],
    '반원형' : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    '타원형' : [168, 563, 532, 260, 224, 9, 253, 0, 21, 563, 6, 529, 32, 43, 1564, 0],
    '장방형' : [337, 533, 908, 485, 577, 6, 680, 0, 114, 324, 12, 976, 88, 15, 1755, 0],
    '마름모형' : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    '기타' : [1, 6, 50, 2, 103, 2, 100, 0, 0, 30, 0, 1, 1, 0, 100, 0]
}
df3 = pd.DataFrame(data, index = ['빨강', '주황', '노랑', '연두', '초록', '청록',
                                 '파랑', '남색', '보라', '분홍', '자주', '갈색',
                                 '회색', '검정', '하양', '투명'])

In [22]:
df3

    삼각형  사각형  오각형  육각형  팔각형    원형  반원형   타원형   장방형  마름모형   기타
빨강    0    2    0    0    0    30    0   168   337     0    1
주황    5   29    1    1    4   627    0   563   533     0    6
노랑   54   43    2    5    5  1027    0   532   908     0   50
연두   17    1   14    3    2   287    0   260   485     0    2
초록    0    0    0    0    0    89    0   224   577     0  103
청록    0    0    0    0    0     6    0     9     6     0    2
파랑    4   14    4   29    0   213    0   253   680     0  100
남색    0    0    0    0    0     0    0     0     0     0    0
보라    0    0    0    3    1    10    0    21   114     0    0
분홍   57   70   22    4   50  1284    0   563   324     0   30
자주    0    0    0    0    0     2    0     6    12     0    0
갈색   14    6    0    0    0   139    0   529   976     0    1
회색    0    0    0    0    0     0    0    32    88     0    1
검정    0    0    0    0    0     6    0    43    15     0    0
하양   69   27   18   12  147  4527    0  1564  1755     0  100
투명    0    0    0    0    0     0    0     0     0     0    0